.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}

.row-grey{color:gray}
.row-yellow{color:rgb(247, 210, 4)}
.row-green{color:green}
.row-red{color:red}

.preview-tabs .x-tab.x-tab-active.x-tab-default{
    border-color: #666;
    background-color: #666;
}

.item-menu-button {
    position:absolute;
    right:10px;
    cursor:pointer;
    color:#2a6e9f!important;
    font-size:12px!important;
}
.item-menu-button:hover {
    color:black!important;
}
