/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

/*$des-portal-headerbar-background-color: #32404e;*/

// Button UI colors
$color-blue: #167abc;
$color-soft-cyan: #03b4d5;
$color-soft-blue: #2eadf5;
$color-soft-green: #9cc96b;
$color-soft-red: #e44959;
$color-soft-purple: #925e8b;
$color-gray: #949495;
$color-green: #16b603;