
/**
 * Cor de fundo default para Footer usado nos apps
 */
$des-portal-footer-background-color: #32404e;

// Test Color
$font-white: white;


//UI Styles for buttons
$footer-button-toolbar-hover-background-color: #efefef;
$footer-button-toolbar-background-color: transparent;
$footer-button-toolbar-border-color: transparent;
