# Arquivos Docker-compose
docker-compose.yml

# Arquivo de Configuração
local_vars.py

# Diretorios de instalacao
/api/env
/env
/data
/db
/log/*.log
/log/backend/*
/log/nginx/*
/log/iipserver/*
/bkp
/archive
/static

# Arquivos do Celery
api/celerybeat-schedule

# Diretorio da Home Wordpress
/apps/home

# Diretorio de projeto pycharm
/.idea/

# Diretorio de projeto vscode
/.vscode/
api/.vscode/*


# Others
*.pyc
__pycache__
*.swp
*.bak
*.log
*.pid
# Evitar que o visiomatic seja sobrescrito a cada build
/frontend/build/production/Target/packages/local/visiomatic/src/visiomatic/dist
/api/db
*.coverage
.env

# Diretórios do Postgresql
/pg_data
/pg_backup

