# installation paths
/env
/data
/db
/log
/bkp

# Diretorio de projeto pycharm
/.idea/

# Others
*.pyc
__pycache__
*.swp
*.bak

# Evitar que o visiomatic seja sobrescrito a cada build
/frontend/build/production/Target/packages/local/visiomatic/src/visiomatic/dist
