version: '2'
services:
  gidlab:
    image: gidlab/shib-proxy_uwsgi:1.0.0
    env_file:
      - .env
    volumes:
      - ${APACHE_VOL}/shib.conf:/etc/apache2/sites-available/000-default.conf
      # - $PWD/ssl:/etc/apache2/certs
      - ${SHIB_VOL}/shibboleth2.xml:/etc/shibboleth/shibboleth2.xml:ro
      - ${SHIB_VOL}/attribute-map.xml:/etc/shibboleth/attribute-map.xml:ro
      - ${SHIB_VOL}/attribute-policy.xml:/etc/shibboleth/attribute-policy.xml:ro
      # - ${SHIB_VOL}/sp-key.pem:/etc/shibboleth/sp-key.pem:ro
      # - ${SHIB_VOL}/sp-cert.pem:/etc/shibboleth/sp-cert.pem:ro
      - ${SHIB_VOL}/metadata/linea-google.xml:/var/cache/shibboleth/linea-google.xml:ro
      - ${SHIB_VOL}/metadata/linea-github.xml:/var/cache/shibboleth/linea-github.xml:ro
      - ${SHIB_VOL}/metadata/linea-facebook.xml:/var/cache/shibboleth/linea-facebook.xml:ro
      - ./log/shibboleth/apache2/:/var/log/apache2/
      - ./log/shibboleth/:/var/log/shibboleth/

  backend:
    build: ./api
    command: ./entrypoint.sh
    environment:
      - NCSA=true
      - CELERY_BROKER=amqp://dri:adminadmin@rabbit:5672
    volumes:
      - ./api:/app
      - ./archive:/archive
      - ./log/backend:/log
    depends_on:
      - rabbit
    env_file:
      - .env
    healthcheck:
      test: curl --fail http://127.0.0.1:8001/dri/api/healthcheck/ || exit 1
      interval: 40s
      timeout: 30s
      retries: 3
      start_period: 30s

  rabbit:
    image: rabbitmq:3-management
    hostname: rabbit_dri
    environment:
      - RABBITMQ_DEFAULT_USER=dri
      - RABBITMQ_DEFAULT_PASS=adminadmin

  iipserver:
    image: linea/iipserver:latest
    environment:
      - LOGFILE=/log/iipsrv.log
      - VERBOSITY=10
      - FILESYSTEM_PREFIX=/images/
      - MAX_IMAGE_CACHE_SIZE=10
      - MAX_CVT=3000
      - JPEG_QUALITY=90
      - CORS=*
    command: ./start_fcgi.sh
    volumes:
      - ./log/iipserver:/log
      - ./archive/images:/images

  nginx:
    build: ./frontend
    ports:
      - 80:8080
      - 443:4443
    volumes:
      # Arquivo de Configuração do Nginx
      - ./frontend/nginx-proxy.conf:/etc/nginx/conf.d/default.conf
      # Certbot SSL
      - ./archive/certbot/conf:/etc/letsencrypt
      - ./archive/certbot/www:/var/www/certbot
      # Diretorio de Logs
      - ./log/nginx:/var/log/nginx
      # Diretório de dados da aplicação
      - ./archive:/var/www/data
      # Google Analytics Script
      - ./google-analytics.js:/var/www/ga/google-analytics.js
    depends_on:
      - backend
      - iipserver
      - rabbit
      - gidlab
