version: '2'
services:

  database:
    image: linea/postgresql_q3c:latest
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    expose:
      # Deixa a porta do banco de dados acessivel para ferramentas externas como o dbeaver por exemplo.
      - 5432
    volumes:
      - ./pg_data:/var/lib/postgresql/data
      - ./pg_backups:/pg_backups
      # databse_subset é util para colocar arquivos a serem importados dentro do banco de dados.
      - ./database_subset:/data

  backend:
    build: ./api
    user: "1000:1000"
    command: /start.sh
    environment:
      - CELERY_BROKER=amqp://dri:adminadmin@rabbit:5672
    volumes:
      - ./api:/app
      # Diretório onde o backend pode manipular arquivos.
      - ./archive:/archive
      # Diretório de logs do backend.
      - ./log/backend:/log
      # Arquivo de configuração local
      - ./local_vars.py:/app/dri/settings/local_vars.py:ro
      # Diretório com dados iniciais a serem importados. necessário so na instalação.
      #- ./database_subset:/app/common/fixtures
    depends_on:
      - rabbit
      - database

  rabbit:
    image: rabbitmq:3-management
    hostname: rabbit_dri
    environment:
      - RABBITMQ_DEFAULT_USER=dri
      - RABBITMQ_DEFAULT_PASS=adminadmin

  # Servidor de imagens PTIFFs
  # iipserver:
  #   image: linea/iipserver:latest
  #   environment:
  #     - LOGFILE=/log/iipsrv.log
  #     - VERBOSITY=10
  #     - FILESYSTEM_PREFIX=/images/
  #     - MAX_IMAGE_CACHE_SIZE=10
  #     - MAX_CVT=3000
  #     - JPEG_QUALITY=90
  #     - CORS=*
  #   command: ./start_fcgi.sh
  #   volumes:
  #     - ./log/iipserver:/log
  #     - ./archive/images:/images

  # Frontend apps ExtJS with Sencha CMD app Watch
  # OBS: o container sky deve estar ligado para que os demais apps funcionem.
  # ele é responsavel por servir os diretórios de package e outras dependencias.
  sky:
    image: linea/sencha_cmd:6.5.3.6
    volumes:
      - ./frontend/:/code
    working_dir: /code/sky
    command: app watch

  target:
    image: linea/sencha_cmd:6.5.3.6
    volumes:
      - ./frontend/:/code
    working_dir: /code/target
    command: app watch
    depends_on:
      - sky

  explorer:
    image: linea/sencha_cmd:6.5.3.6
    volumes:
      - ./frontend/:/code
    working_dir: /code/explorer
    command: app watch
    depends_on:
      - sky

  userquery:
    image: linea/sencha_cmd:6.5.3.6
    volumes:
      - ./frontend/:/code
    working_dir: /code/userquery
    command: app watch
    depends_on:
      - sky

  eyeballing:
    image: node:10-alpine
    working_dir: /app
    volumes:
      - ./frontend/eyeballing:/app
    stdin_open: true
    command: yarn start

  landingpage:
    image: node:10-alpine
    working_dir: /app
    volumes:
      - ./frontend/landing_page:/app
    stdin_open: true
    command: yarn start

  daiquiri:
    build: ./daiquiri
    working_dir: /daiquiri_app
    command: ./entrypoint.sh
    env_file:
      - ./daiquiri/.env
    volumes:
      - ./daiquiri:/daiquiri_app
      # Diretório de arquivos estaticos do Django deve ser compartilhado com o Ngnix.
      - /archive/daiquiri_static:/daiquiri_app/static_root
      - /archive/files:/daiquiri_app/files
      - /archive/download:/daiquiri_app/download
      - /archive/upload:/daiquiri_app/upload
      # Diretório de logs do Daiquiri
      - ./log/daiquiri:/log
    depends_on:
      - database
      - rabbit

  nginx:
    build: ./frontend
    ports:
      - 80:8080
    volumes:
      # Arquivo de Configuração do Nginx
      - ./frontend/nginx-proxy-develop.conf:/etc/nginx/conf.d/default.conf:ro
      # Diretório de logs do servidor web. 
      - ./log/nginx:/var/log/nginx
      # Diretório onde o backend manipula arquivos, e que deve ficar acessivel ao servidor web.
      - ./archive:/var/www/data
    depends_on:
      - backend
      # - iipserver
      - sky
      - daiquiri