version: '2'
services:

  database:
    image: linea/postgresql_q3c:latest
    env_file:
      - .env
    expose:
      # Deixa a porta do banco de dados acessivel para ferramentas externas como o dbeaver por exemplo.
      - 5432
    volumes:
      - ./pg_data:/var/lib/postgresql/data
      - ./pg_backups:/pg_backups
      # databse_subset é util para colocar arquivos a serem importados dentro do banco de dados.
      - ./database_subset:/data

  backend:
    build: ./api
    command: ./entrypoint.sh
    environment:
      - NCSA=true
      - CELERY_BROKER=amqp://dri:adminadmin@rabbit:5672
    volumes:
      - ./api:/app
      - ./static:/app/dri/static
      - ./archive:/archive
      - ./log/backend:/log
    depends_on:
      - rabbit
      - database
    #ports:
    #  - 8000:8000

  rabbit:
      image: rabbitmq:3-management
      hostname: rabbit_dri
      environment:
          - RABBITMQ_DEFAULT_USER=dri
          - RABBITMQ_DEFAULT_PASS=adminadmin
      ports:
          - "5672:5672"
          - "15672:15672"

  # iipserver:
  #   image: linea/iipserver:latest
  #   environment:
  #     - LOGFILE=/log/iipsrv.log
  #     - VERBOSITY=10
  #     - FILESYSTEM_PREFIX=/images/
  #     - MAX_IMAGE_CACHE_SIZE=10
  #     - MAX_CVT=3000
  #     - JPEG_QUALITY=90
  #     - CORS=*
  #   command: ./start_fcgi.sh
  #   volumes:
  #     - ./log/iipserver:/log
  #     - ./archive/images:/images


  # Wordpress
#  mysql:
#    image: linea/dri_landing_page:MYSQLcef65a533dc17a5d7fcd901b52849cd4fdd7f040
#    env_file:
#      - .env

#  wordpress:
#    image: linea/dri_landing_page:WPcef65a533dc17a5d7fcd901b52849cd4fdd7f040
#    env_file:
#      - .env
#    depends_on:
#      - mysql

# Frontend apps ExtJS with Sencha CMD app Watch
# OBS: o container sky deve estar ligado para que os demais apps funcionem. 
# ele é responsavel por servir os diretórios de package e outras dependencias.
  sky:
    image: linea/sencha_cmd:6.5.3.6
    volumes: 
      - ./frontend/:/code
    working_dir: /code/sky
    command: app watch

  target:
    image: linea/sencha_cmd:6.5.3.6
    volumes: 
      - ./frontend/:/code
    working_dir: /code/target
    command: app watch
    depends_on:
      - sky

  explorer:
    image: linea/sencha_cmd:6.5.3.6
    volumes: 
      - ./frontend/:/code
    working_dir: /code/explorer
    command: app watch
    depends_on:
      - sky

  userquery:
    image: linea/sencha_cmd:6.5.3.6
    volumes: 
      - ./frontend/:/code
    working_dir: /code/userquery
    command: app watch
    depends_on:
      - sky

  # eyeballing:
  #   build: ./frontend/eyeballing
  #   volumes: 
  #     - ./frontend/eyeballing/:/app
  #   working_dir: /app
  #   command: yarn start

  nginx:
    build: ./frontend
    ports:
      - 80:8080
    volumes:
      - ./archive:/var/www/data
      - ./static:/var/www/static
      - ./frontend/nginx-proxy-develop.conf:/etc/nginx/conf.d/default.conf
      # - ./log/nginx:/var/log
    depends_on:
      - backend
      # - iipserver
      - rabbit
#      - wordpress
