DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres
DB_HOST=database
DB_PORT=5432
DB_SCHEMA=dri_admin

# Database Settings for Catalog Database
CATALOG_DB_NAME=postgres
CATALOG_DB_USER=postgres
CATALOG_DB_PASS=postgres
CATALOG_DB_HOST=database
CATALOG_DB_PORT=5432
CATALOG_DB_SCHEMA=dri_catalog

# Variables used in the postgres container
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres