
/**
 * Cor de fundo default para Header usado nos apps
 */
$des-portal-headerbar-background-color: #32404e;


//UI Styles for buttons
$headerbar-button-toolbar-hover-background-color: #efefef;
$headerbar-button-toolbar-background-color: transparent;
$headerbar-button-toolbar-border-color: transparent;

//Toolbar Button UI colors
$color-white: white;

