/** Ocultar o botao de Clipboard que nao funciona na nossa aplicacao */
.leaflet-control-wcs-clipboard {
    display: none;
}

/** Marker utilizado para highlight objetos de catalogo */
.visiomatic-marker-position {
    color: #C8ED00;
}

.color-overlay-grid-icon {
    color: #27313b;
}

.color-icon-starred {
    color: #27313b;
}

.mapmaker-comment{
    display: block;
    background-image: url(common/images/mapmaker_comment.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
}