.aladin-location-info {
    background: transparent;
    color: #00BFFF;
    font-weight: bold;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

/**
 * Div original do Aladin que mostra a posicao corrente do mouse
 * Colocar como oculta
 */
.aladin-location {
    visibility: hidden
}