/**
 * Classes pra o Header usados nos apps.
 */

.des-portal-headerbar {
    background-color: $des-portal-headerbar-background-color !important;
    border:none !important;
}

.des-portal-appname {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.des-portal-logo {

}